/.gradle/
/bin/
*.classpath
*.project
.settings/
settings.gradle
gradlew.bat
gradlew
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
*.class
build/libs/travel.jar
build/
client/.idea/
client/node_modules/
client/dist/
CATALINA_HOME_IS_UNDEFINED/logs/spring-rest-hibernate-jpa-2017-03-19.log.0
