div.container-tour{
    font-size: 12px;
    width: 880px;
    margin-left: -95px;
}

div.tout-hr{
    margin-bottom: -15px;
    margin-top: -15px;
}

.add-edit{
    margin-top: 5px;
}

.td-place{
    padding-right: 15px;
    vertical-align: top;
}

.select-place{
    min-width: 150px;
}

.table-tours{
    text-align: center;
}

.btn{
    min-width: 93px;
}

hr.solid-hr{
    border-bottom: 1px solid #e5e5e5;
}