.td-place{
  padding-right: 15px;
  vertical-align: top;
}

div.tout-hr{
  margin-bottom: -15px;
  margin-top: -15px;
}

.select-place{
  min-width: 150px;
}

.btn{
  min-width: 100px;
}

hr.solid-hr{
  border-bottom: 1px solid #e5e5e5;
}