<nav class="navbar navbar-inverse">
    <div>
        <div class="nav navbar-nav navbar-right top-nav">
            <div style="margin-right: 5px">
                <p *ngIf="isLoggedIn()" class="navbar-text">Приветствуем Вас, <b>{{welcomeName}}</b></p>
            </div>
        </div>
        <div class="nav navbar-nav navbar-right top-nav" style="padding-top: 15px;">
            <span *ngIf="!isLoggedIn()">
                <a routerLink="/login" style="margin-right: 5px"><span class="glyphicon glyphicon-log-in">Войти</span></a>
                <a routerLink="/registration" routerLinkActive="active" style="margin-right: 5px">Регистрация</a>
            </span>
        </div>
        <div style="padding-top: 15px;">
            <a routerLink="/home" routerLinkActive="active" class="tour-head">Домашняя страница</a>
            <span  *ngIf="hasManagerAuthority() || hasAdminAuthority()">
                <a routerLink="/all-country" routerLinkActive="active" class="tour-head">Работа с турами</a>
            </span>
            <span *ngIf="isLoggedIn()">
                <span><a routerLink="/mytours" routerLinkActive="active" class="tour-head">Мой кабинет</a></span>
                <span><a class="tour-head" (click)="logout()">Выход</a></span>
            </span>
        </div>
    </div>
</nav>
<div class="container">
    <router-outlet></router-outlet>
</div>




